section {
  padding: 1rem;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  color: black;
  font-family: 'khand', sans-serif!important;
  font-weight: 700!important;
}

img {
  max-width: 100%;
}


// Simple Spacing
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
li,
ol,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Khand', sans-serif!important;
}


// Simple Lists
ul {
  list-style: none;
  text-decoration: none;
}

// Simple Achor
a {
  text-decoration: none;
  color: $brand-secondary;
}

a:hover {
  color: black;
}


// Simple Button
button {
  border: 0;
  outline: none;
  background: inherit;
}

// Simple Input
input {
  border: 0;
  outline: none;
}
