.below-middle {
  background-color: $brand-secondary;
  height: 20rem;
}
.about-middle {
  background-color: $brand-secondary;
}


.below-middle-text {
  background-color: $brand-secondary;
  color: white;
  padding: 4rem;
  text-align: center;
  font-size: 37px!important;

  @media (max-width: 765px) {
    font-size: 2rem !important
  }
}

.bottom {
  color: $brand-secondary;
  height: 40rem;
}

.bottom-text {
  padding: 4rem;
  text-align: center;
  font-size: 37px!important;

  @media (max-width: 765px) {
    font-size: 2.6rem!important;
  }
}
